In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [5]:
df_spark = spark.read.option("header", "true").csv("sample_data.csv",inferSchema=True)

In [6]:
df_spark.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)

In [7]:
# Another way
df_spark = spark.read.csv("sample_data.csv", header=True, inferSchema=True)

In [8]:
df_spark.show()

+---+-------+---+-----------+
| id|   name|age|       city|
+---+-------+---+-----------+
|  1|  Alice| 30|   New York|
|  2|    Bob| 25|Los Angeles|
|  3|Charlie| 35|    Chicago|
|  4|  David| 28|    Houston|
|  5|    Eva| 32|    Phoenix|
+---+-------+---+-----------+

In [9]:
df_spark.columns

['id', 'name', 'age', 'city']

In [12]:
df_spark.select(["name", "city"]).show()

+-------+-----------+
|   name|       city|
+-------+-----------+
|  Alice|   New York|
|    Bob|Los Angeles|
|Charlie|    Chicago|
|  David|    Houston|
|    Eva|    Phoenix|
+-------+-----------+

In [ ]:
df_spark['name'] # Just show but can't view data

Column<'name'>

In [14]:
df_spark.dtypes

[('id', 'int'), ('name', 'string'), ('age', 'int'), ('city', 'string')]

In [16]:
df_spark.describe().show()

+-------+------------------+-----+------------------+-------+
|summary|                id| name|               age|   city|
+-------+------------------+-----+------------------+-------+
|  count|                 5|    5|                 5|      5|
|   mean|               3.0| null|              30.0|   null|
| stddev|1.5811388300841898| null|3.8078865529319543|   null|
|    min|                 1|Alice|                25|Chicago|
|    max|                 5|  Eva|                35|Phoenix|
+-------+------------------+-----+------------------+-------+

In [18]:
# To add columns
df_spark.withColumn("Age after 10 years", df_spark['age'] + 10).show()

+---+-------+---+-----------+------------------+
| id|   name|age|       city|Age after 10 years|
+---+-------+---+-----------+------------------+
|  1|  Alice| 30|   New York|                40|
|  2|    Bob| 25|Los Angeles|                35|
|  3|Charlie| 35|    Chicago|                45|
|  4|  David| 28|    Houston|                38|
|  5|    Eva| 32|    Phoenix|                42|
+---+-------+---+-----------+------------------+