## Group By and Aggregrate Function

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("combined").getOrCreate()

In [2]:
df = spark.read.csv("test3.csv", header=True, inferSchema=True)

In [3]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+